# Created by .ignore support plugin (hsz.mobi)
### Clojure template
pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
*.ipynb_checkpoints

*.cpython-36.pyc
*.cpython-37.pyc
__init__.cpython-37.pyc
__init__.py
*.exe
*.log
*.cfg
*.html
.Rproj.user
*.Rhistory
*.RData
